<div class="row" style="margin-top:50px">
    <div class="col-lg-3">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" [routerLink]="['/canciones']" routerLinkActive="list-group-item list-group-item-action active">Listado de Canciones</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/cancion/create']">Registro de Cancion</a>
            <a class="list-group-item list-group-item-action">Opciones</a>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card">
            <div class="card-header">
                Listado de Albunes
            </div>
            <div class="card-body">
                <div class="form-group">
                    <form #artistaForm="ngForm" (ngSubmit)="onSubmit(albumForm)">
                        <div class="input-group"> 
                            <input type="text" class="form-control" class="form-control" name="search" [(ngModel)]="search">
                            <div class="input-group-prepend">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                              </div>
                          </div>
                        
                    </form>
                </div>
                <table class="table table-hover table-responsive">
                    <thead class="thead-dark">
                        <th>Titulo</th>
                        <th>Album</th>
                        <th>Duracion</th>
                        <th>Cancion</th>
                        <th>Opciones</th>
                    </thead>
                   <tbody *ngFor="let item of canciones | paginate: {itemsPerPage:10,currentPage:paginaActual}">
                       <td>{{item.nombre}}</td>
                       <td>{{item.album.titulo}}</td>
                       <td>{{item.duracion}}</td>
                       <td *ngIf="!item.file || item.file =='undefined'">
                        <b>Sin Audio</b>
                       </td>
                       <td *ngIf="item.file != 'undefined'">
                        <audio controls>
                            <source [src]="url+'cancion/mp3/'+item.file" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                       </td>
                       <td>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              CONFIG
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" [routerLink]="['/cancion/edit',item._id]" routerLinkActive="router-link-active" >Editar</a>
                              <a class="dropdown-item" (click)="eliminar(item._id,item.portada)">Eliminar</a>
                             
                            </div>  
                        </div>
                       </td>
                   </tbody>
                </table>
                <pagination-controls class="pag-bootstrap" (pageChange)="paginaActual = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>